* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(270deg, rgb(184, 196, 213) 30%, rgba(229,229,229,1) 76%);
    margin-bottom: 60px;
    background: #0085f0;
    background: linear-gradient(0deg, #08a2ef 20%, #007bdf 65%);
}

.body-clear-day {
    background: rgb(59,149,203);
    background: -moz-linear-gradient(0deg, rgba(59,149,203,1) 11%, rgba(1,68,181,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(59,149,203,1) 11%, rgba(1,68,181,1) 70%);
    background: linear-gradient(0deg, rgba(59,149,203,1) 11%, rgba(1,68,181,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b95cb",endColorstr="#0144b5",GradientType=1);
}

    .body-clear-day nav, .body-mainly-clear-day nav {
        background-color: #0144b5;
    }

.body-mainly-clear-day {
    background: rgb(1,68,181,1);
    background: -moz-linear-gradient(0deg, rgba(5185, 195, 207) 11%, rgba(1,68,181,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(185, 195, 207) 11%, rgba(1,68,181,1) 70%);
    background: linear-gradient(0deg, rgb(185, 195, 207) 11%, rgba(1,68,181,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3b95cb",endColorstr="#0144b5",GradientType=1);
}

.body-party-cloud-day {
    background: rgb(223,225,223);
    background: -moz-linear-gradient(0deg, rgba(223,225,223,1) 11%, rgba(80,153,206,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(223,225,223,1) 11%, rgba(80,153,206,1) 70%);
    background: linear-gradient(0deg, rgba(223,225,223,1) 11%, rgba(80,153,206,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfe1df",endColorstr="#5099ce",GradientType=1)
}

    .body-party-cloud-day nav {
        background-color: #5099ce
    }

.body-overcast-day {
    background: rgb(199,214,233);
    background: -moz-linear-gradient(0deg, rgba(163,187,213,1) 11%, rgba(71,94,146,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(163,187,213,1) 11%, rgba(71,94,146,1) 70%);
    background: linear-gradient(0deg, rgba(163,187,213,1) 11%, rgba(71,94,146,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c7d6e9",endColorstr="#8aa5c6",GradientType=1);
}

    .body-overcast-day nav {
        background-color: #475e92;
    }

.body-fog-day {
    /* background: rgb(228,239,235);
  background: -moz-linear-gradient(0deg, rgba(228,239,235,1) 11%, rgba(105,120,123,1) 70%);
  background: -webkit-linear-gradient(0deg, rgba(228,239,235,1) 11%, rgba(105,120,123,1) 70%);
  background: linear-gradient(0deg, rgba(228,239,235,1) 11%, rgba(105,120,123,1) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4efeb",endColorstr="#69787b",GradientType=1); */

    background: rgb(105,120,123);
    background: -moz-linear-gradient(0deg, rgba(105,120,123,1) 11%, rgba(228,239,235,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(105,120,123,1) 11%, rgba(228,239,235,1) 70%);
    background: linear-gradient(0deg, rgba(105,120,123,1) 11%, rgba(228,239,235,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#69787b",endColorstr="#e4efeb",GradientType=1);
}

    .body-fog-day nav {
        /* background-color: #69787b; */
        background-color: #e4efeb;
    }

.body-rain {
    background: rgb(104,142,137);
    background: -moz-linear-gradient(0deg, rgba(104,142,137,1) 11%, rgba(18,30,30,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(104,142,137,1) 11%, rgba(18,30,30,1) 70%);
    background: linear-gradient(0deg, rgba(104,142,137,1) 11%, rgba(18,30,30,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#688e89",endColorstr="#121e1e",GradientType=1);
}

    .body-rain nav {
        background-color: #121e1e;
    }

.body-snow {
    background: rgb(195,195,255);
    background: -moz-linear-gradient(0deg, rgba(195,195,255,1) 11%, rgba(103,104,168,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(195,195,255,1) 11%, rgba(103,104,168,1) 70%);
    background: linear-gradient(0deg, rgba(195,195,255,1) 11%, rgba(103,104,168,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c3c3ff",endColorstr="#6768a8",GradientType=1);
}

    .body-snow nav {
        background-color: #6768a8
    }

.body-thunderstorm {
    background: rgb(149,130,195);
    background: -moz-linear-gradient(0deg, rgba(149,130,195,1) 11%, rgba(32,29,56,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(149,130,195,1) 11%, rgba(32,29,56,1) 70%);
    background: linear-gradient(0deg, rgba(149,130,195,1) 11%, rgba(32,29,56,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9582c3",endColorstr="#201d38",GradientType=1);
}

    .body-thunderstorm nav {
        background-color: #201d38;
    }

        .white-font-color, .body-clear-day nav a, .body-mainly-clear-day nav a, .body-rain nav a, .body-thunderstorm nav a {
            color: #FFF !important;
        }

nav {
    background-color: #0060af;
}

.main-content {
    display: grid;
    grid-template-columns: minmax(0,1fr) 350px;
    grid-column-gap: 12px;
    max-width: 1162px;
    z-index: 100;
}

.flex-column-container, .aiq-infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.flex-row-container, .navigation-items, .daily-partial-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.current {
    display: flex;
    flex-direction: column;
}

    .current span {
        font-size: 18px;
        font-weight: 500;
    }

.current-white-font {
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
}

.background-clearsky {
    background: rgb(0,86,212);
    background: -moz-linear-gradient(270deg, rgba(0,86,212,1) 30%, rgba(0,160,255,1) 76%);
    background: -webkit-linear-gradient(270deg, rgba(0,86,212,1) 30%, rgba(0,160,255,1) 76%);
    background: linear-gradient(270deg, rgba(0,86,212,1) 30%, rgba(0,160,255,1) 76%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0056d4",endColorstr="#00a0ff",GradientType=1);
}

.background-mainlyclear {
    background: #578edd;
    background: linear-gradient(270deg, #578edd 30%, #8ebcff 76%);
}

.background-overcast {
    background: #b8c4d5;
    background: linear-gradient(270deg, #b8c4d5 30%, #e5e5e5 76%);
}

.navigation-items {
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.navigation-items {
    padding: 4px 10px;
    background-color: #aeaeae;
}

    .navigation-items ul {
        margin: 0;
        padding: 0;
    }

    .navigation-items a:hover {
        border-bottom: 1px solid #000;
    }

    .navigation-items a {
        text-decoration: none;
    }

.border {
    border-radius: 7px;
}

.weather-list-properties {
    min-width: 50%;
}

.weather-list-item {
    border-bottom: solid 1px #000000;
    margin-bottom: 5px;
}

.partial-hourly-container, .daily-partial-info-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hourly-container, .daily-container {
    margin: 0;
}

.details-container, .hourly-container, .daily-container {
    max-width: 800px;
}

.partial-hourly-info {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

    .partial-hourly-info h5 {
        width: 55px;
        ;
    }

    .partial-hourly-info span {
        font-size: 40px;
    }

    .partial-hourly-info:hover, .daily-partial-infos:hover, details:hover {
        background-color: #008dff1f;
    }

.grid-layout, .details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 36px;
}

.centralize, .search-container, .search-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    flex-grow: 1;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    margin: 0 auto 0 30%;
}

.search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #6e6e6e;
    border-radius: 25px;
    text-align: center;
}

.container-info-color, .daily-partial-infos {
    background-color: #FFF;
}

.dropdown {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    border-top: none;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .dropdown ul li {
            padding: 10px;
            cursor: pointer;
        }

            .dropdown ul li:hover {
                background-color: #f0f0f0;
            }

.more-info-button {
    text-decoration: none;
    color: #FFF;
    border: 1px solid #1032f4;
    border-radius: 20px;
    max-width: fit-content;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: #1032f4;
    line-height: 1.15;
    font-size: .8125rem;
    font-weight: 700;
    cursor: pointer;
}

    .more-info-button:hover {
        border: 1px solid #aad9ff;
        color: #FFF;
        cursor: pointer;
    }

    .more-info-button:active {
        border: 1px solid #aad9ff;
        background-color: #1303a8;
        color: #ffffff;
        cursor: pointer;
    }

.daily-partial-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    width: 144px;
    height: 205px;
    font-size: 17px;
}

details {
    margin-bottom: 5px;
    border-bottom: 1px solid #d4d4d4;
}

    details summary {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 0 7px 0;
    }

        details summary span {
            min-width: 65px;
        }

    details h5 {
        font-size: 30px;
        font-weight: 625;
    }

.titles {
    font-size: 20px;
    border-bottom: 1px solid #d4d4d4;
    height: 55px;
    padding: 10px 0 10px 0;
}

.aiq-infos {
    align-items: center;
    margin-bottom: 0;
}

    .aiq-infos h1 {
        font-size: 55px;
        border-radius: 7px;
        padding: 0 10px 0 10px;
    }

    .aiq-infos h3 {
        font-size: 20px;
    }

    .aiq-infos h4 {
        font-size: 20px;
    }

.aiq-pollutants {
    padding: 5px 5px 0 5px;
    margin-bottom: 5px;
}
#air-quality small {
    font-size: 12px;
    color: #8c8a8a;
    a {
    text-decoration: none; 
    }
}

@media screen and (max-width: 430px) {
    .main-content, .grid-layout, .details-container {
        display: block;
    }
}
