@model CurrentWeatherViewModel

@{
    var image = $"images/{JsonFileUtils.IconName(Model.WeatherCode, Model.IsDay)}";
}

<div id="current-weather" class="container flex-column-container border">
    <div>
        <h3 title="City">@Html.DisplayFor(Model => Model.CityCountry)</h3>
    </div>

    <div class="grid-layout">
        <div class="current">
            <span title="Condition">@Html.DisplayFor(Model => Model.WeatherCondition)</span>
            <span title="Temperature" style="font-size: 5rem; font-weight: 500;">@Html.DisplayFor(Model => Model.Temperature2m)°</span>
            <span title="Apparent Temperature">Sensação térmica @Html.DisplayFor(Model => Model.ApparentTemperature)°</span>
        </div>
        <div class="centralize">
            <img src=@image alt="condition-icon" width="120" height="100">
        </div>
    </div>

</div>